body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1896df;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background: hwb(177 71% 8%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
  }
  
  .header {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .subheader {
    font-size: 1.2em;
    color: #34495e;
  }
  
  .description {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.6;
  }
  
  .cv-message {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .download-btn {
    background-color: rgb(14, 48, 241);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .download-btn:hover {
    background-color: #2980b9;
  }
  .profile-image {
    width: 250px;          /* Largeur de l'image */
    height: 250px;         /* Hauteur de l'image */
    border-radius: 50%;   /* Forme ronde */
    object-fit: cover;    /* Assure que l'image garde son rapport d'aspect sans être déformée */
    border: 4px solid #180b0b; /* Bordure verte autour de l'image */
  }
  .p{
    background-color: aliceblue;
    color: black;
    font-size:xx-large;
    border: black;
    margin: 12px;
     
  }